name: PlatformIO CI

on:
  push:
    branches:
      - master
      - develop

  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        example: [examples/ESP/main.cpp, examples/ESP-TLS/main.cpp]

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Install library dependencies
      run: pio pkg install
    - name: Run PlatformIO
      run: pio ci --lib="." --project-conf=platformio.ini ${{ matrix.dashboard-extra }}
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
